<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcyl9QRui-Xr13cfLtQ309GgpWDfnZmkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>245508935109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.linkFive</string>
	<key>PROJECT_ID</key>
	<string>link-five-45afa</string>
	<key>STORAGE_BUCKET</key>
	<string>link-five-45afa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245508935109:ios:0ded73314b38f8ca2f4fac</string>
</dict>
</plist>